<div class="container row">
  <div class="left">
    <div class="signUpBlock">
      <h2 style="color: white">SignUp</h2>
      <label class="homeLabel" style="color: white" for="uname "
        ><b>Username</b></label
      ><br />
      <input
        class="loginButton"
        type="text"
        placeholder="Enter Username"
        name="uname"
        required
      /><br />

      <label class="homeLabel" style="color: white" for="psw"
        ><b>Password</b></label
      ><br />
      <input
        class="loginButton"
        type="password"
        placeholder="Enter Password"
        name="psw"
        required
      />
      <br />

      <label
        class="homeLabel"
        style="color: white; margin-top: 20px; margin-bottom: 20px"
      >
        <input type="checkbox" checked="checked" name="remember" /> Terms &
        Conditions
      </label>
      <br />
      <button class="loginButton" type="submit">Sign Up</button>
    </div>
  </div>
  <div class="right"></div>
</div>
